body {
  font: 14px 'Oxygen', sans-serif;
  letter-spacing: 0.05em;
}
a {
  color: #737373;
  cursor: pointer;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.contact-block a, .contact-block p {
  margin: 0;
}
.contact {
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  width: 100%;
}
.contact-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8%;
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
}
#mail, .contact-block p {
  margin-right: 15px;
}
#mail {
  color: #c285c7;
}
a.social {
  display: inline-block;
  color: #595959;
  background-color: #e6e6e6;
  padding: 7px 3px 3px;
  text-align: center;
  height: 21px;
  width: 25px;
  margin-left: 2px;
}
.menu {
  width: 100%;
}
.menu-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.7em 8% 1.5em;
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
}
.main-menu li {
  display: inline-flex;
  flex-wrap: wrap;
}
.main-menu li a {
  margin: 0.3em 0.6em;
}
.contact a:hover, .main-menu li a:hover {
  color: #c285c7;
}
.logo h1 {
  display: inline-flex;
  flex-wrap: nowrap;
  font-size: 3em;
  margin-right: 1em;
}
.logo-m {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  background-color: #c285c7;
  color: white;
  padding: 5px 10px;
  margin-right: 20px;
}
.breadcrumbs-block {
  width: 100%;
  background-color: #834488;
}
.breadcrumbs {
  line-height: 4em;
  padding: 0 8%;
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
}
.paragreytext {
  color: white;
}
.paragreytext:hover {
  color: #cccccc;
}
.paraorangetext {
  color: #f2d9f2;
}
.page-title {
  width: 100%;
  background-color: #c285c7;
  color: #f2d9f2;
  font: 0.8em 'Raleway', sans-serif;
}
h2 {
  padding: 3em 8%;
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
}
h2 span {
  font-size: 2em;
  color: white;
}
.second-menu-block {
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
}
.second-menu {
  background-color: #f2f2f2;
  margin: 1.5em 0;
}
.second-menu li {
  display: inline-flex;
  flex-wrap: wrap;
}
.second-menu li a {
  padding: 0.7em 1.2em;
  margin: 0.4em;
}
.second-menu li a:hover {
  background-color: #cccccc;
}
#all a {
  background-color: #c285c7;
  color: white;
}
.page-content {
  margin: 0 8%;
}
.content-block {
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1.7;
  margin-right: -20px;
}
.article-block {
  margin-right: 20px;
  min-width: 350px;
  max-width: 350px;
}
.article {
  color: #737373;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0;
  margin: 0 0 50px;
  line-height: 1.5;
}
.article a {
   color: #c285c7;
   font-size: 1.5em;
}
.article a:hover {
  color: #834488;
}
.buy-block {
  background-color: #ecc6ec;
}
.buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  color: #834488;
  font-size: 1.5em;
  padding: 0 8%;
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
}
.buy p {
  margin-top: 1.8em;
  text-align: center;
}
button {
  background-color: #834488;
  color: white;
  border-radius: 5px;
  border: 2px #834488;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.7em 1.4em;
  margin: 0 1em 1.8em;
}
button:hover {
  background-color: #a455aa;
}
.find-us-block {
  background-color: #c285c7;
}
.find-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 8%;
  font: bold 2em 'Raleway', sans-serif;
  color: white;
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
}
.find-us ul li {
  display: inline-flex;
}
.find-us ul li a {
  justify-content: flex-end;
  background-color: #a455aa;
  color: white;
  padding: 13px 3px 3px;
  text-align: center;
  height: 30px;
  width: 40px;
  margin: -3px;
  font-size: 0.6em;
}
.find-us ul li a:last-child {
  margin-right: 0;
}
.find-us ul li a:hover {
  color: 	#cccccc;
}
.search-and-links-block {
  background-color: #444444;
}
.search-and-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 6.5% 4em;
  color: #999999;
  font: 0.9em sans-serif;
  max-width: 1200px;
  min-width: 743px;
  margin: 0 auto;
}
.search-and-links > div {
  line-height: 1.7;
  flex-basis: 22em;
  flex-grow: 1;
  margin: 0 2%;
  min-width:
}
.search-and-links div a, footer a {
  color: #bfbfbf;
}
.search-and-links div h4 {
  color: white;
  font: bold 1.5em 'Raleway', sans-serif;
}
.about p {
  margin-bottom: 4.2em;
}
.search {
  display: flex;
}
#search-img, .search input{
  border-radius: 3px;
}
#search-img {
  flex-grow: 1;
  color: white;
  background-color: #bfbfbf;
  padding-top: 10px;
  height: 28px;
  width: 45px;
  margin-left: 6px;
  text-align: center;
  vertical-align: middle;
}
.search input {
  flex-grow: 6;
  height: 38px;
  border: 0;
  padding: 0 8px;
  font-size: 1.5em;
}
.art-tweet {
  background-color: #333333;
  margin-bottom: 2em;
}
.art-tweet p {
  padding: 1.5em 1.5em 0;
  margin: 0;
}
.date-tweet {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: hidden;
  height: 3em;
}
.date-tweet i {
  font-size: 7em;
  margin-top: -0.12em;

  color: #2d2d2d;
}
.date-tweet p {
  padding: 0 1.5em 1.5em;
}
.resent-tweet>a i {
  font-size: 1.4em;
  margin-right: 3px;
}
footer {
  background-color: #333333;
  box-shadow: inset 0 0 10px #121212;
}
.footer-block {
  color: #999999;
  font: 0.8em sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 8%;
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
}
footer ul li {
  display: inline-flex;
  margin-right: 1.2em;
}
