body {
  margin: 0;
  font: 14px 'Oxygen', sans-serif;
  letter-spacing: 0.1em;
}
a {
  color: #737373;
  cursor: pointer;
}
.contact a, .contact p {
  margin: 0;
}
.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f2f2f2;
  padding-right: 10%;
}
#mail, .contact p {
  margin-right: 15px;
}
#mail {
  color: #c285c7;
}
a.social {
  display: inline-block;
  text-decoration: none;
  color: #595959;
  background-color: #e6e6e6;
  padding: 7px 3px 3px;
  text-align: center;
  height: 21px;
  width: 25px;
  margin-right: 2px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em 10%
}
.main-menu li {
  display: inline-flex;
  flex-wrap: wrap;
}
.main-menu li a {
  display: block;
  text-decoration: none;
  margin: 0 0.6em;
}
.logo h1 {
  display: inline-flex;
  flex-wrap: nowrap;
  font-size: 3em;
}
.logo-m {
  display: block;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  background-color: #c285c7;
  color: white;
  padding: 5px 10px;
  margin-right: 20px;
}
.breadcrumbs {
  background-color: #834488;
  line-height: 4em;
  padding: 0 10%
}
a.paragreytext {
  text-decoration: none;
  color: white;
}
.paraorangetext {
  color: #f2d9f2;
}
.page-title {
  background-color: #c285c7;
  padding: 3em 10%;
  color: #f2d9f2;
  font: 0.8em 'Raleway', sans-serif;
}
.page-title h2 span {
  font-size: 2em;
  color: white;
}
